<div id="parent">
  <mat-card class="mat-elevation-z4">
    <img src="{{data.image}}" matCardImage (click)="popup(data)">
    <mat-card-header>
      <mat-card-title>
        {{data.name}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="currency$ | async as currency">
        <span *ngIf="currency == 'GBP'">&#163;{{data.prices.gbp | number: '1.2-2'}}</span>
        <span *ngIf="currency == 'NGN'">&#8358;{{data.prices.ngn | number: '1.2-2'}}</span>
        <span *ngIf="null">&#163;</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="buy()">
        Buy
      </button>
      <span fxFlex="1 1 auto"></span>
      <button mat-flat-button color="accent" (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
