table{
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
  tr{
    border: 1px solid grey;
    padding: 10px;
  }
  th{
    border: 1px solid grey;
    text-align: left;
    padding: 10px;
    background-color: #cccccc;
  }
  td{
    border: 1px solid grey;
    padding: 10px;
  }
}
