<h2 class="mat-headline">Shipping and delivery</h2>
<hr>
<h3>UK</h3>
<table>
  <tr>
    <th>Delivery method</th>
    <th>Delivery window</th>
    <th>Shipping cost</th>
  </tr>
  <tr>
    <td>Standard delivery</td>
    <td>2 - 3 days</td>
    <td>£3.95</td>
  </tr>
  <tr>
    <td>Express delivery</td>
    <td>1 - 2 days</td>
    <td>£5.95</td>
  </tr>
</table>

<h3>EU</h3>
<table>
  <tr>
    <th>Delivery method</th>
    <th>Delivery window</th>
    <th>Shipping cost</th>
  </tr>
  <tr>
    <td>Standard delivery</td>
    <td>2 - 5 days</td>
    <td>£XX</td>
  </tr>
  <tr>
    <td>Express delivery</td>
    <td>1 - 2 days</td>
    <td>£XX</td>
  </tr>
</table>

<h3>Nigeria</h3>
<table>
  <tr>
    <th>Delivery method</th>
    <th>Delivery window</th>
    <th>Shipping cost</th>
  </tr>
  <tr>
    <td>Standard delivery</td>
    <td>1 - 3 days</td>
    <td>£2.00</td>
  </tr>
</table>

<h3>Others</h3>
Delivery charges to other regions will be determined at checkout.

<p>
  International orders shipped to other than the UK, EU and NG might incur custom fees, duties or taxes.
</p>

<p>
  A flat rate shipping fee is charged.
</p>

<p>
  Mood Outfitter’s will assume responsibility for the charges stated above, all other additional charges incurred will be the recipient’s responsibility.
</p>
