
<mat-card>

  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>

  <mat-card-content>

  </mat-card-content>

  <mat-card-actions align="end">
    <div appDynamicScript>
      <div
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
    data-key="pk_test_51N2SbQEtQOTCGnHqvPOMo5SXFzqunmx0kf66STRTtrHitkYLH8eZgqZfXqr9J93SXjvMOPGrDaaS6rEpWjM6eu9V00C1S91xdW"

    data-name="Caps"
    data-description="Comfortable caps"
    data-amount="2500"
    data-currency="ngn"
     >
      Some Text
     </div>
    </div>
  </mat-card-actions>

</mat-card>

